/* You can add global styles to this file, and also import other style files */

.error-block{
    margin-top:5px;
    color:#dc3545;
}

.is-invalid{
    border-color: #dc3545;
    background-image: none !important;
}

